div{
  width: 120px;
  height: 100px;
}
.estructura-inicial ,.punto1 , .punto2{
  width: 500px;
  height: 100px;
  border: solid red 1px;
}
section div:nth-child(1){
  background: #ffff00;
}
section div:nth-child(2){
  background: #0000ba;
}
section div:nth-child(3){
  background: #dc0000;
}
.punto2 *{
  float: right;
}
