div{
  width: 120px;
  height: 100px;
}
section{
  width: 500px;
  border: solid #cfcfcf 1px;
}
.estructura-inicial{
  height: auto;
}
.punto1 , .punto2{
  height: 100px;
}
section div:nth-child(1){
  background: #ffff00;
}
section div:nth-child(2){
  background: #0000ba;
}
section div:nth-child(3){
  background: #dc0000;
}
.punto1 *{
  float: left;
}
.punto2 *{
  float: right;
}
